.cl{
	clear: both;
}
#page{
	display: block;
	width: 500px;
	margin: 0px auto;
}
#inputEmail{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	margin-bottom: -1px;
}
#inputPassword{
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	margin-bottom: 10px;
}
#proof-list{
	margin-top: 10px;
}
.progress{
	margin-bottom: 5px;
}
.recipients{
	margin-top: 10px;
}
.recipients div{
	padding: 0px;
	overflow: hidden;
}
.recipients div select{
	width: 100%;
}
.recipients  .row{
	margin: 0px;
	margin-bottom :-1px;
}
