<h3 style="color: #80af2e;">Hi, Amanda</h3>
<div class="list-group index-container">
    <div class="list-group-item">
        <h4 class="list-group-item-heading">
            <ng-pluralize count="notifications.newTotal" when="{'0': 'No notifications','one': 'One new notification','other': '{} new notifications'}"></ng-pluralize>
        </h4>
        <h5 style="padding-right: 30px;" class="group-action pointer" ng-click="clearNotifications()" ng-if="notifications.newTotal>0">Clear</h5>
        <p class="list-group-item-text" ng-if="notifications.newComments>0">
        <a href="#"><ng-pluralize count="notifications.newComments" when="{'0': 'No new comments','one': 'One new comment','other': '{} new comments'}"></ng-pluralize></a>
        </p>
        <p class="list-group-item-text" ng-if="notifications.newProofs>0">
        <a href="#"><ng-pluralize count="notifications.newProofs" when="{'0': 'No new proofs','one': 'One new proof to review','other': '{} new proofs to review'}"></ng-pluralize></a>
        </p>
        <p class="list-group-item-text" ng-if="notifications.newReply>0">
        <a href="#"><ng-pluralize count="notifications.newReply" when="{'0': 'No new proof replies','one': 'One new reply to your comments','other': '{} new replies to your comments'}"></ng-pluralize></a>
        </p>
        <p class="list-group-item-text" ng-if="(notifications.processingProofs-notifications.newProofs)>0">
        <ng-pluralize count="(notifications.processingProofs-notifications.newProofs)" when="{'0': '','one': 'One proof is being processed','other': 'Processing {} proofs'}"></ng-pluralize>
        </p>
    </div>
    <a ng-click="openOptions()" class="list-group-item pointer">
    <span>Options</span>
    </a>
    <a ng-click="logOut()" class="list-group-item pointer">
    <span>Log out</span>
    </a>
</div>