<form name="loginForm" class="form-signin" ng-controller="LoginFormCtrl" ng-submit="submit()" ng-if="!busy">
    <img src="../res/logo.png" class="form-signin-heading">
    <div class="form-group" ng-class="{'has-error': loginForm.email.$viewValue && loginForm.email.$invalid}">
    	<label for="inputEmail" class="sr-only">Email address</label>
    	<input name="email" type="email" ng-model="email" class="form-control" placeholder="Email address" autofocus="" autocomplete="off" required />
	</div>
    <div class="form-group" ng-class="{'has-error': loginForm.password.$viewValue && loginForm.password.$invalid}">
    	<label for="inputPassword" class="sr-only">Password</label>
    	<input name="password" type="password" ng-model="password" class="form-control" placeholder="Password" autocomplete="off" required />
	</div>
    <input class="btn btn-block pointer btn-login" type="submit" value="Login" ng-class="{'disabled': loginForm.$invalid}"/>
    <a class="forgotPassword" href="#">Forgot your password?</a>
</form>

