<span ng-controller="OptionsCtrl" class=" index-container">
	<a ng-click="backToIndex()" class="list-group-item" >&laquo; Back</a>
	<span class="options-header">Notify me about:</span>
	<div class="list-group">
		<label for="comment-notification">
			<input type="checkbox" name="comment-notification" id="comment-notification" ng-model="options.comments" />
			Comments
		</label>
		<label for="replies-notification">
			<input type="checkbox" name="replies-notification" id="replies-notification" ng-model="options.replies"/>
			Replies
		</label>
		<label for="proofs-notification">
			<input type="checkbox" name="proofs-notification" id="proofs-notification" ng-model="options.proofs"/>
			New proofs and versions
		</label>
	</div>
</span>