.phqScreenOverlay {
	cursor: default;
	font-family: sans-serif;
}

.phqScreenOverlay .pointer {
	cursor: pointer;
}

.phqScreenOverlay{
	position: fixed;
	bottom: 10px;
	right: -500px;
	z-index: 2147483647;
	width: 300px;
	min-height: 100px;
	background: white;
	padding: 10px;
	opacity: 0;
	transition: all 0.5s;
}

.phqScreenOverlay.unslided{
	right: -5px;
	opacity: 1;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	transition: all 0.5s;
}

.phqScreenOverlay.mini{
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
	right: -300px;
	transition: all 0.5s;
}

.phqScreenOverlay .cancelAll{
	position: absolute;
	top: 10px;
	right: 20px;
	color: #337ab7;
}

.phqScreenOverlay .cancelWrapper{
	padding: 0 8px;
}

.phqScreenOverlay .cancelIcon{
	border: 1px solid;
	padding: 5px;
	width: 16px;
	height: 16px;
	color: white;
	background-image: url('chrome-extension://__MSG_@@extension_id__/res/cancel.png');
	font-weight: bold;
	position: relative;
	left: -16px;
	background-size: cover;
}

.phqScreenOverlay .filename a{
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
	color: #337ab7;
	display: block;
	padding: 5px 0;
}

.phqScreenOverlay .handle {
	position: absolute;
	top: 50%;
	left: -30px;
	height: 30px;
	border-radius: 5px;
	padding-right: 5px;
	margin-top: -15px;
}

.phqScreenOverlay .progress {
	height: 16px;
	margin-bottom: 5px;
}

.phqScreenOverlay .progress-bar {
	text-transform: uppercase;
	height: 17px;
	line-height: 16px;
	background: #6aa5ce;
}

.phqScreenOverlay .progress-bar-success {
	background: #add55c;
}

.phqScreenOverlay .progress-bar-warning {
	background: #cacaca;
}

.phqScreenOverlay hr{
	margin: 10px 0;
}

.phqScreenOverlay h4{
	text-transform: none;
}














.phqNotification {
	cursor: default;
	font-family: sans-serif;
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 2147483647;
	width: 244px;
	font-size: 12px;
}

.phqNotification .pointer {
	cursor: pointer;
}

.phqNotification .notification{
	background: white;
	padding: 10px;
	opacity: 1;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	margin-bottom: 5px;
	right: 0;
	position: relative;
}

.phqNotification .notification.fade{
	opacity: 0;
	right: -50px;
	transition: all 1s;
}

.phqNotification .wrapper{
	display: flex;
}

.phqNotification .icon-wrap{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.phqNotification .icon-wrap img{
	display: block;
	padding: 0 11px 0 5px;
	touch-action: manipulation;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.phqNotification .message-wrap{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.phqNotification .message-wrap div{
	overflow: hidden;
	display: block;
	width: 170px;
	text-overflow: clip;
	word-break: break-all;
}

.phqScreenOverlay .message-link{
	
}