.phqBootstrap .cl{
	clear: both;
}
.phqBootstrap #loader {
	width: 285px;
}
.phqBootstrap #loader img {
	display: block;
	margin: 0 auto;
}
.phqBootstrap #page{
	display: block;
	margin: 0px auto;
	padding: 0px 7px;
}
.phqBootstrap #page *{
	cursor: default;
}
.phqBootstrap #inputEmail{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	margin-bottom: -1px;
}
.phqBootstrap #inputPassword{
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	margin-bottom: 10px;
}
.phqBootstrap #proof-list{
	margin-top: 10px;
}
.phqBootstrap .progress{
	margin-bottom: 5px;
}
.phqBootstrap .recipients{
	margin-top: 10px;
}
.phqBootstrap .recipients div{
	padding: 0px;
	overflow: hidden;
}
.phqBootstrap .recipients div select{
	width: 100%;
}
.phqBootstrap .recipients  .row{
	margin: 0px;
	margin-bottom :-1px;
}

.phqBootstrap .group-action{
	position: absolute;
	top: 0;
	right: 10px;
	color: #337ab7;
}

.phqBootstrap .pointer {
	cursor: pointer;
}

.phqBootstrap .list-group-item{
	border-left: none;
	border-right: none;
	padding-left: 1px;
}

.phqBootstrap .list-group-item:last-child{
	border-bottom: none;
}

.form-signin {
	width: 230px;
}

.form-signin-heading{
	margin: 15px auto;
	display: block;
}

.index-container {
	width: 270px;
	display: block;
}

.btn-login {
	background: #85b829;
	color: #fff!important;
}

.forgotPassword {
	text-align: center;
	margin: 5px;
	display: block;
}
#page .header{
	color: #80af2e;
}
.phqBootstrap label{
	display: block;
	position: relative;
	font-weight: normal;
}
.phqBootstrap label input{
	top: 2px;
	position: relative;
}
.phqBootstrap .options-header{
	display: block;
	padding: 15px 0px;
	font-weight: bold;
}