<div class="phqNotification phqBootstrap unslided">
	<div class="notification" ng-repeat="notification in notifications" ng-class="{fade: notification.fade}" nid="{{notification.id}}">
	    <div class="wrapper">
	    	<div class="icon-wrap">
	    		<div>
	    			<img class="icon-{{notification.type}}">
				</div>
			</div>
			<div class="message-wrap">
				<div>
	        		<span class="message" ng-bind-html="notification.html"></span>
        		</div>
        	</div>
	    </div>
    </div>
</div>