<div class="phqScreenOverlay phqBootstrap" ng-class="{'unslided': unslided, 'mini': minified}">
	<img id="phqIcon" class="handle pointer">
    <h4>
    Creating proofs
    </h4>
    <h5 class="cancelAll pointer dontHide" ng-click="cancelAll()">Cancel all</h5>
    <hr>
    <div ng-repeat="progress in progresses" url="{{progress.url}}">
        <div class="row">
            <div class="col-md-11 dontHide filename">
                <a href="{{progress.url}}" target="_blank">{{progress.url}}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <div class="progress">
                    <div
                    	class="progress-bar"
                    	ng-class="{'progress-bar-success': progress.complete, 'progress-bar-danger': progress.error, 'progress-bar-warning': progress.canceled}"
                    	role="progressbar"
                    	aria-valuenow="{{progress.percent}}"
                    	aria-valuemin="0"
                    	aria-valuemax="100"
                    	style="width: {{progress.percent}}%;">
                        {{progress.msg}}
                    </div>
                </div>
            </div>
            <div class="col-md-1 cancelWrapper">
            	<div class="cancelIcon dontHide" ng-click="progress.canceled=true"></div>
            </div>
        </div>
    </div>
</div>